$grey: #4dcef5;
$text-color: #181d1f;

.container {
    margin: 0 auto;
    width: 70%;
    background-color: $grey;

    .paragraph {
        text-align: center;
        font-family: Arial;
        color: $text-color;
    }
}

ul {
    display: flex;
    align-items: baseline;
    list-style: none;
}

ul li {
    padding-left: 20px;
    background-image: url('../img/symbol/sprite.svg#pineapple');
}

ul a {
    text-decoration: none;
}

li svg {
    width: 18px;
    height: 18px;
}