extends layout/main

block title
		| Главная страница
block content
		h1.hiden Доставка еды из ресторанов города. Заказать еду из ресторана
		
		mixin item-res 
				.item-res.col-4
						.rest-img
								img(src="img/469.jpg")
						.rest-description
							.rest-description-inner
						.desc-title-block
							.rest-title Робин Бобин
		.container
			.wrap-rest.row
				+item-res
				+item-res
				+item-res