extends layout/main

block title
		| Главная страница
block content
		h1 jljklasd
		p Всем привет огого
		mixin item-res
				.item-res
						.rest-img
								img(src="img/rest-image_1.jpg")
						.rest-description
							.rest-description-inner
									img(src="img/rest-logo.jpg" alt="")
						.desc-title-block
							.rest-title Робин Бобин

		+item-res
		+item-res
		+item-res