doctype html
html(lang="ru-Ru")
    head 
        link(rel="stylesheet", href="css/bootstrap-grid.css")
        link(rel="stylesheet", href="css/styles.css")
        title
            block title
    body
        include ../modules/header
        block content
        include ../modules/footer